* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(214, 114, 60);
  background: linear-gradient(
    5deg,
    rgba(214, 114, 60, 1) 0%,
    rgba(255, 136, 71, 1) 11%,
    rgba(255, 217, 196, 1) 100%
  );
}

#container {
  flex: 1 0 auto; /*flex-grow, flex-shrink, flex-basic*/
  /*position: fixed; /*this paragraph makes background on the whole screen, regardless of a screen size
  height:100%;*/
  margin: 15% 10%;
  padding: 0px;
  /*background-color: rgb(12,74,84);
  background: linear-gradient(0deg, rgba(12,74,84,1) 0%, rgba(9,104,121,1) 54%, rgba(39,143,164,1) 100%);*/
}
h2 {
  display: block;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24%;
  margin: 5% 0;
}

#logo {
  font-size: 10vw;
  font-weight: bolder;
  color: #54433b;
  width: 100%;
  text-align: center;
}
/*Toggle Switch*/
#darkMode {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 20%;
}
#nameOfMode {
  display: block;
  margin-right: 60px;
  font-size: 15px;
  color: #54433b;
  font-weight: 100;
  margin-top: 3px;
}
/* The switch - the box around the slider */
.switch {
  position: absolute;
  width: 50px; /*here I can change the background of the button*/
  height: 22px;
  margin-left: -50px;
}
/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffe8d3;
  border: 1px solid #bca79d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /*in this place I should change the size of the button*/
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: #ff8847;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #afd2d3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); /*position which slider:before moves*/
  background: rgb(21, 83, 76);
}
/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
/*End of Toggle Switch*/

section {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(188, 167, 157, 0.6);
  height: 60%;
  border-radius: 10px;
}

textarea {
  background-color: rgba(250, 240, 232, 0.521);
  width: 86%;
  height: 75%;
  margin: auto;
  margin-bottom: 3%;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  /* removing focus */
  overflow: auto;
  outline: none;
}

/* changing a color of a text in textarea which appears before writing something */
::placeholder {
  color: #54433b;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #54433b;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #54433b;
}

#saveButton {
  height: 8%;
  width: 86%;
  margin: auto;
  margin-top: 0;
}

button {
  display: block;
  float: right;
  font-size: 16px;
  padding: 8px;
  width: 75px;
  border-radius: 7px;
  background-color: #ffe8d3;
  border: 2px solid #fdcda1;
  cursor: pointer;
}
button:hover {
  background-color: #fcd9b8;
}
footer {
  color: #42342e;
  flex-shrink: 0;
  background-color: #d1703c;
  font-size: 4vw;
  padding: 2%;
  text-align: center;
}

@media (min-width: 500px) {
  #container {
    margin: 7% 7%;
   }
  #logo {
    font-size: 7vw;
  }
  #nameOfMode {
    font-size: 20px;
    margin-top: 0;
  }
  section {
    height: 65%;
  }
  textarea {
    margin-bottom: 2%;
    height: 70%;
  }
  button {
    font-size: 20px;
    width: 100px;
  }
  footer {
    font-size: 20px;
    padding: 2%;
  }
}

@media (min-width: 700px) {
  #container {
    margin: 5% 7%;
  }
  header {
    height: 16%;
    margin: 3% 0;
  }
  #logo {
    font-size: 5vw;
  }
  #nameOfMode {
    margin-right: 85px;
    font-size: 20px;

    font-weight: 100;
    margin-top: 3px;
  }
  .switch {
    width: 65px; /*here I can change the background of the button*/
    height: 28px;
    margin-left: -65px;
  }
  .slider:before {
    height: 19px; /*in this place I should change the size of the button*/
    width: 19px;
    left: 5px;
    bottom: 4px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px); /*position which slider:before moves*/
  }

  button {
    font-size: 20px;
    width: 100px;
  }
  footer {
    font-size: 20px;
    padding: 1.5%;
  }
}

@media (min-width: 1000px) {
  #container {
    min-width: 900px;
    margin: 20px auto;
  }
  header {
    height: 16%;
    margin: 2% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #aditional {
    height: 10px;
    width: 10px;
    flex: 1;
  }
  #logo {
    font-size: 50px;
    justify-content: flex-end;
    flex: 1;
  }
  #darkMode {
    flex: 1;
    justify-content: flex-end;
  }
  #nameOfMode {
    margin-right: 85px;
    font-size: 20px;
    font-weight: 100;
    margin-top: 3px;
  }

  #saveButton {
    display: flex;
    justify-content: center;
  }

  button {
    font-size: 18px;
    border-radius: 10px;
    padding: 5px;
    width: 90px;
    align-items: center;
    height: 40px;
  }
  footer {
    font-size: 15px;
    padding: 0.8%;
  }
}
